In [1]:
%who
%whos

Interactive namespace is empty.
Interactive namespace is empty.

## 함수
<pre>
def 함수명(매개변수 parameter /optional):
    '''
    내가 만든 함수에 대한 설명
    '''
    do sth
    return 값
</pre>

<br>
<b>매개변수에 따른 함수 (4)</b>
<pre>
    - 위치 parameter
    - 기본 parameter
    - 키워드 parameter
    - 가변 parameter
</pre>

In [2]:
###           위치 매개변수             ###

# 함수에서 정의한 위치대로 할당

def calc(num1, num2):
    ''' (doc string)
    매개변수 num1, num2 받아서 그 합을 result에 할당 후, result를 리턴하는 기능
    '''
    result = num1 + num2
    return result

In [3]:
print(calc(3,5))

8

In [4]:
%whos

Variable   Type        Data/Info
--------------------------------
calc       function    <function calc at 0x0000017AD45DE4C8>

In [5]:
def calc1(num1, num2):
    ''' (doc string)
    매개변수 num1, num2 받아서 그 합을 result에 할당 후, result를 출력하는 기능
    '''
    result=num1+num2
    print(result)

In [19]:
# print('calc1(2,5)')
# calc1(2,5)
print('\nprint calc1(2,5): ', calc1(2,5))
# print('\ntype(calc1(2,5)): ', type(calc1(2,5)), '\t,type(calc1): ',type(calc1))
# print('\ntype(calc(3,5)): ', type(calc(3,5)), '\t,type(calc): ', type(calc))

7

print calc1(2,5):  None

In [7]:
calc?

In [8]:
calc??

In [9]:
def calc2(end, start=1):
    total=0
    for i in range(start, end):
        total+=i
    return total

In [10]:
print(calc2(10))
print(calc2(10,1))
print(calc2(10,8))

45
45
17

In [11]:
def calc2(start=1, end):
    total=0
    for i in range(start, end):
        total+=i
    return total

# ************* 기본 매개변수는 위치 매개변수 뒤에 와야 한다. ************** #

SyntaxError: non-default argument follows default argument (<ipython-input-11-96c640dbf47c>, line 1)

In [15]:
import pandas as pd
from pandas import DataFrame

df = pd.read_csv?

In [32]:
def calc3(name, age):
    print('이름', name, '\t\t,나이', age)
    
calc3('김정엽 반장님', 30)
calc3(30, '김접엽 반장님')

이름 김정엽 반장님 		,나이 30
이름 30 		,나이 김접엽 반장님

In [33]:
calc3(age=30, name='김반장님')
# 매개변수 이름을 알아야 하며, 순서는 신경 안써도 된다.
# key 맵핑

이름 김반장님 		,나이 30

In [42]:
# 키워드 매개변수의 예
import numpy as np
import pandas as pd
from pandas import DataFrame

df1 = DataFrame(np.random.randn(4,4),  # 정규분포
                index=list('abcd'),
                columns=list('tvej'))
df1

          t         v         e         j
a -1.591146  0.053496 -0.140485 -0.086709
b -0.148426  0.670753 -0.761864  0.314043
c -0.099042 -0.046884  1.534307  0.426451
d  1.123049 -0.539222 -0.412489 -1.268003

In [47]:
def calc4(*args):
    print(args)

calc4(2,24,'3wasdf')   # 결과값이 튜플 타입으로 나온다.
print(type(calc4), type(calc4()) )

(2, 24, '3wasdf')
()
<class 'function'> <class 'NoneType'>