In [3]:
'''
문제
키보드로 숫자(second)를 입력받아, 시간 분 초 출력되도록
'''
second = 3700

In [15]:
# 시험 문제 나온다.

second = int(input('초 입력: '))
hour = second//3600
minutes = second%3600//60
second = second%60

print('%d시 %d분 %d초'%(hour, minutes, second))

초 입력: 3700
1시 1분 40초

In [25]:
from time import localtime
localtime()

time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=9, tm_min=27, tm_sec=16, tm_wday=2, tm_yday=22, tm_isdst=0)

In [26]:
print('%d년 %d월 %d일'%(localtime().tm_year, localtime().tm_mon, localtime().tm_mday))

2020년 1월 22일

### 자료형

In [38]:
proDic = {
    'name':'DRAM',
    'capa':'32g',
    'maker':'nh',
    'price':320000
}

proDic['name']

'DRAM'

In [39]:
proDic.get('name')

'DRAM'

In [40]:
addInfo = {'place':'인천'}
proDic.update(addInfo)
proDic['place']

'인천'

In [41]:
del proDic['price']
proDic.pop('maker')
proDic

{'name': 'DRAM', 'capa': '32g', 'place': '인천'}

## SET

In [46]:
mySet = {'a','b','c','a','b'}
mySet

{'a', 'b', 'c'}

## Tuple

In [58]:
t1, t2, t3 = (1,2,3,4), (4,5,6), (1,)
t1, t2, t3

((1, 2, 3, 4), (4, 5, 6), (1,))

In [59]:
type(t3)

tuple

In [21]:
import sys

t1 = tuple(range(1,11,1))+(100,)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100)

In [22]:
print('튜플', sys.getsizeof(t1))
print('리스트', sys.getsizeof(list(t1)))

튜플 136
리스트 208