## 변수와 데이터 타입

In [ ]:
'''
데이터 타입 (int, float, bool, string)
            (list, tuple, set, dic)
'''

In [ ]:
a = 1
print(a)

In [ ]:
b = 3.1
b

In [ ]:
nh = '농협'
nh

In [ ]:
print(type(a), type(b), type(nh))

In [ ]:
print((nh+' ')*20)

In [ ]:
input_data = input('put your number')
print('the input data is', input_data, '\tand the type is', type(input_data))
print(input_data+'string plus')

In [1]:
myAge = input('num1 ')
yourAge = int(input('num2 '))
print(int(myAge)+yourAge)

num1 12
num2 24
36

## 연산자

In [15]:
num1 = 5
num2 = 3
print(round(num1/num2))
print('btw, round type is ', type(round(num1/num2)))
remain = num1%num2
remain

dir(num1) # 변수에게 적용 가능한 함수

2
btw, round type is  <class 'int'>

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [18]:
int(True)
float(False)
int('nh')

ValueError: invalid literal for int() with base 10: 'nh'

In [25]:
a = 300
b = 300.0
print(a==b)           # 띠용?! 심지어 a+b 는 float 값으로 통용된다.
print(a is b)        # 같은 객체인지 비교 = 존재하는 위치가 다름

True
False

In [27]:
print( id(a), '\t', id(b) )

1818711692784 	 1818689803760

## 포멧팅

In [60]:
name = '손흥민'
age = 29
grade = 9.678
print('나이는 ', name, '\n나이는 ', age, '\n성적은 ', (grade*100)//1/100)
print('-'*50)
print('%s의 나이는 %d, 경기 평점은 %0.2f' %(name, age, grade))   #    %.2f    자동으로 반올림한다.

나이는  손흥민
나이는  29
성적은  9.67
--------------------------------------------------
손흥민의 나이는 29, 경기 평점은 9.68

## 문자열

In [64]:
'python'[-0]          # 되긴 된다. 그런데 없다고 하셨음.

'p'

In [67]:
str1 = '20200121Sunny'
date = str1[:8]
date

'20200121'

In [68]:
weather = str1[-5:]
weather

'Sunny'

In [71]:
all = str1[:]
all

'20200121Sunny'

In [77]:
ali = ['a','b','d','a','h']
print(ali)
print(set(ali))
print(list(set(ali)))

['a', 'b', 'd', 'a', 'h']
{'h', 'd', 'a', 'b'}
['h', 'd', 'a', 'b']

In [82]:
for a in ali:
    print(a+'=', ord(a))

a= 97
b= 98
d= 100
a= 97
h= 104

In [88]:
myList = [1,1,20,20,3,4,5,5,5,7]
mySet = set(myList)
print(type(mySet))
mySet

<class 'set'>

{1, 3, 4, 5, 7, 20}

In [93]:
myDic = { 'name': 23 , 'height': 55, 'appearance': 'handsome'} #, name: 01}   SyntaxError: invalid token
myDic

{'name': 23, 'height': 55, 'appearance': 'handsome'}

## 리스트 C R U D

In [7]:
myList = [2,5,3,10,4]
myList1 = []
myList2 = list()
myList2

[]

In [8]:
# 리스트의 크기

# 리스트의 값 수정
# myList.append?
# myList.insert?
print(myList)
myList.insert(-50, 99)
print(myList)
myList.insert(4, 777)     # 4번째 자리에 집어넣는다. 결과적으로 index 4에 위치한다.
myList

[2, 5, 3, 10, 4]
[99, 2, 5, 3, 10, 4]

[99, 2, 5, 3, 777, 10, 4]

In [9]:
myList.insert(len(myList), 919)
myList

[99, 2, 5, 3, 777, 10, 4, 919]

In [10]:
'''
del
remove()
pop()
'''

'\ndel\nremove()\npop()\n'

In [11]:
del(myList[4])
print(myList)
del myList[4]
myList

[99, 2, 5, 3, 10, 4, 919]

[99, 2, 5, 3, 4, 919]

In [12]:
myList.remove(3)
myList

[99, 2, 5, 4, 919]