In [1]:
a,b='4','005'
print(a+b)

4005

In [4]:
title='농협이념중앙교육원'
title[-3:]
title[:4]

'농협이념'

In [21]:
myBoy = {'name':'사토시', 'age':30 }

In [35]:
myBoy.update({'addr':'방배동'})
myBoy['phone_num'] = 123123
myBoy

{'name': '사토시', 'age': 30, 'addr': '방배동', 'phone_num': 123123}

In [36]:
print( 7!=7 and 8==8 )
print( False or True )

False
True

In [43]:
List = [5,4,3,2,1]
# List.insert(999999999, 10)
List.insert(len(List), 10)
# List.insert(-1, 10)
List

[5, 4, 3, 2, 1, 10]

In [50]:
List = [1,2,[3,4,5], '강병훈']
List.pop()

'강병훈'

In [51]:
# del List[2][2]
List[2].remove(5)
List

[1, 2, [3, 4]]

In [57]:
## 리스트를 생성하는 방법 ##
List = [ 1,2,3,4 ]
List = list()
List = []
List = list('abcd')   ## 중요 !!!
List = list(range(10))
List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
Str = '정우성,현빈,장동건,김건모'
List = list(Str)
List

['정', '우', '성', ',', '현', '빈', ',', '장', '동', '건', ',', '김', '건', '모']

In [59]:
List = Str.split()
List

['정우성,현빈,장동건,김건모']

In [67]:
tu = (10, 20, 30)
a,b,c = tu
a,b,c

(10, 20, 30)